%html
  %header
    .logo
      BRIAN
    .nav
      %ul
        %li blog
        %li projects
        %li photos
        %li contact
  %body
    .body-wrap
      .content
        Hello,<br>
        I'm Brian



